[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
importlib-metadata = "*"
iniconfig = "*"
jdcal = "*"
openpyxl = "*"
pluggy = "*"
py = "*"
pyparsing = "*"
pytest = "*"
toml = "*"
typing-extensions = "*"
zipp = "*"
et_xmlfile = "*"

[dev-packages]

[requires]
python_version = "3.8"
